@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-italic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500italic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700italic.woff") format("woff"); }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1310px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px; }

.wrapper-pay {
  max-width: 1060px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

body {
  font-family: 'Roboto','Verdana', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__menu-logo {
  padding: 30px 30px 30px 0px; }

.header__menu-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px 0px 0px 32px; }
  .header__menu-about-us li {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style: none;
    padding-left: 30px;
    padding-right: 5px; }
  .header__menu-about-us a {
    color: #525252;
    text-decoration: none; }
    .header__menu-about-us a:hover {
      color: #5C0790; }
    .header__menu-about-us a:active {
      opacity: 0.5; }

.header__menu-contact-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__menu-contact-cart:hover {
    color: #5C0790; }
  .header__menu-contact-cart:active {
    opacity: 0.3; }
  .header__menu-contact-cart p {
    padding-right: 9px; }
  .header__menu-contact-cart .contact {
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    text-transform: uppercase;
    color: #525252;
    text-decoration: none;
    padding-right: 32px; }
    .header__menu-contact-cart .contact:hover {
      color: #5C0790; }
    .header__menu-contact-cart .contact:active {
      opacity: 0.3; }
  .header__menu-contact-cart .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #525252;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__menu-contact-cart .cart:hover .basket {
      fill: #5C0790; }
  .header__menu-contact-cart .value {
    padding: 4px;
    background: #FF3A3A;
    border-radius: 64px;
    color: #FFFFFF;
    margin-left: 2px; }
  .header__menu-contact-cart .burger {
    display: none;
    height: 14px;
    width: 20px;
    padding: 19px;
    margin: 16px;
    background: url(../img/burger.svg) center no-repeat; }

.header__menubar {
  padding: 20px 0px 30px 0px; }
  .header__menubar .menubar-mob {
    display: none; }
  .header__menubar .main-menu2 {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__menubar .main-menu2 > li > a {
      font-size: 18px;
      line-height: 140%;
      color: #525252;
      text-decoration: none;
      padding: 10px 75px 10px 0;
      position: relative; }
      .header__menubar .main-menu2 > li > a::after {
        content: '';
        background-image: url("../img/nav-arrow.svg");
        width: 13px;
        height: 7px;
        position: absolute;
        right: 56px;
        top: 17px;
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
    .header__menubar .main-menu2 > li:hover > a::after {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    .header__menubar .main-menu2 li:hover > a {
      color: #5C0790; }
    .header__menubar .main-menu2 ul {
      display: none;
      position: absolute;
      left: 300px;
      top: 150px;
      background-color: #FFFFFF;
      list-style: none;
      padding: 16px 16px 8px;
      z-index: 1;
      width: 168px;
      height: 167px;
      border-radius: 8px;
      border: 0.25px solid #F4F4F4; }
    .header__menubar .main-menu2 li:hover ul {
      display: block; }
    .header__menubar .main-menu2 ul li {
      padding-bottom: 8px;
      color: #858585; }
    .header__menubar .main-menu2 ul a {
      color: #525252;
      text-decoration: none;
      font-size: 16px;
      line-height: 19px; }
      .header__menubar .main-menu2 ul a:hover {
        text-decoration: underline;
        color: #858585; }

@media (max-width: 991px) {
  .header .header__menu {
    margin: 28px 0; }
  .header .header__menu-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-left: 20px; }
    .header .header__menu-about-us li {
      margin-right: 25px; } }

@media (max-width: 767px) {
  .header .header__menu-about-us {
    display: none; }
    .header .header__menu-about-us li {
      display: none; }
  .header .header__menu-contact-cart {
    margin-left: auto; }
    .header .header__menu-contact-cart .burger {
      display: block; }
    .header .header__menu-contact-cart .cart p {
      display: none; }
    .header .header__menu-contact-cart .cart svg {
      margin-left: 10px; }
  .header .menubar-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FBFBFB;
    padding: 15px 0 15px 0; }
    .header .menubar-mob h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 110%;
      color: #858585;
      position: relative; }
    .header .menubar-mob .button {
      width: 35px;
      height: 35px;
      border: 2px solid transparent;
      background-color: transparent;
      opacity: 0.5;
      padding: 0;
      border-radius: 50%;
      position: absolute;
      top: 71%;
      right: 63px;
      cursor: pointer;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
      background-image: url("../img/nav-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center; }
  .header .main-menu2 {
    display: none; } }

.main__slide {
  background-color: #FFCD4E;
  border-radius: 16px;
  height: 350px;
  position: relative; }
  .main__slide h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 460px; }
  .main__slide p {
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    width: 460px;
    padding: 15px 0px 30px 0px;
    text-align: left; }
  .main__slide a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 28px;
    width: 155px;
    height: 48px;
    background: #FF3A3A;
    -webkit-box-shadow: 0px 8px 26px rgba(255, 58, 58, 0.44);
            box-shadow: 0px 8px 26px rgba(255, 58, 58, 0.44);
    border-radius: 12px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-transform: uppercase; }
    .main__slide a:hover {
      color: #FFFFFF;
      opacity: 0.7; }
    .main__slide a:active {
      opacity: 0.3; }
  .main__slide .slide1 {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main__slide .slide1-info {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 111px; }
    .main__slide .slide1 .arrow {
      width: 35px;
      height: 35px;
      border: 2px solid #FFFFFF;
      background-color: #FFFFFF;
      opacity: 0.5;
      padding: 0;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      cursor: pointer;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-image: url("../img/nav-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center; }
    .main__slide .slide1 .arrow_left {
      left: 22px;
      -webkit-transform: translateY(-50%) rotate(90deg);
              transform: translateY(-50%) rotate(90deg); }
      .main__slide .slide1 .arrow_left:hover {
        background-color: #FFFFFF;
        opacity: 1; }
    .main__slide .slide1 .arrow_right {
      right: 22px;
      -webkit-transform: translateY(-50%) rotate(270deg);
              transform: translateY(-50%) rotate(270deg); }
      .main__slide .slide1 .arrow_right:hover {
        background-color: #FFFFFF;
        opacity: 1; }
    .main__slide .slide1 .slide-nav {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 25px;
      left: 624px; }
      .main__slide .slide1 .slide-nav li {
        padding: 0 5px 0 5px; }
      .main__slide .slide1 .slide-nav button {
        width: 12px;
        height: 12px;
        border: 2px solid #FFFFFF;
        background-color: transparent;
        padding: 0;
        border-radius: 50%; }
    .main__slide .slide1 .clock-foto {
      margin-left: auto;
      padding: 41px 209px 40px 0px; }
  .main__slide .slide2 {
    display: none; }

.main__stock h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ADADAD;
  padding-top: 54px; }

.main__stock p {
  font-size: 16px;
  line-height: 19px;
  color: #525252;
  padding: 17.24px 0px 10px 0px; }

.main__stock .stock1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .main__stock .stock1 .product {
    padding: 15px 15px 20px 15px;
    background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
    border-radius: 16px;
    width: 297px;
    position: relative; }
    .main__stock .stock1 .product:hover {
      -webkit-box-shadow: 0px 8px 26px #E5E5E5;
              box-shadow: 0px 8px 26px #E5E5E5; }
    .main__stock .stock1 .product a:hover {
      background-color: #FFCD4E;
      color: #000000; }
    .main__stock .stock1 .product .product_link {
      text-decoration: none;
      border: none; }
      .main__stock .stock1 .product .product_link .product-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 268px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding-top: 33px; }
    .main__stock .stock1 .product .discount {
      background: #FF3A3A;
      border-radius: 10px;
      font-size: 14px;
      line-height: 16.41px;
      color: #FFFFFF;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .main__stock .stock1 .product .novelty {
      font-size: 14px;
      line-height: 16px;
      background: #FFCD4E;
      color: #5C0791;
      border-radius: 10px;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .main__stock .stock1 .product .price {
      padding-bottom: 26px; }
    .main__stock .stock1 .product .price1 {
      text-decoration: line-through;
      font-size: 18px;
      line-height: 25px;
      color: #525252;
      padding: 10px 34px 20px 0px; }
    .main__stock .stock1 .product .price2 {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000; }
    .main__stock .stock1 .product_btn {
      border: 2px solid #FFCD4E;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      background: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #525252;
      padding: 10px 0px 8px 0px;
      text-decoration: none;
      display: block;
      text-align: center; }

.main__new-product .new-product__mob {
  display: none; }

.main__new-product h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ADADAD;
  padding-top: 50px;
  padding-bottom: 31px; }

.main__new-product .assortment {
  background-color: #FBFBFB;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 9px;
  border-radius: 29px; }
  .main__new-product .assortment .btn {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #525252;
    padding: 18px 19px 15px 20px;
    border: 0;
    background: none; }
    .main__new-product .assortment .btn:hover {
      background: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
      border-radius: 32px;
      color: #FFFFFF; }
  .main__new-product .assortment .active {
    background: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
    border-radius: 32px;
    color: #FFFFFF; }

.main__new-product .new-product1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .main__new-product .new-product1 p {
    font-size: 16px;
    line-height: 19px;
    color: #525252;
    padding: 18.24px 0px 10px 0px; }
  .main__new-product .new-product1 .product {
    padding: 15px 15px 20px 15px;
    background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
    border-radius: 16px;
    width: 297px;
    position: relative; }
    .main__new-product .new-product1 .product:hover {
      -webkit-box-shadow: 0px 8px 26px #E5E5E5;
              box-shadow: 0px 8px 26px #E5E5E5; }
    .main__new-product .new-product1 .product a:hover {
      background-color: #FFCD4E;
      color: #000000; }
    .main__new-product .new-product1 .product .product_link {
      text-decoration: none;
      border: none; }
      .main__new-product .new-product1 .product .product_link .product-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 268px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding-top: 33px; }
    .main__new-product .new-product1 .product .discount {
      background: #FF3A3A;
      border-radius: 10px;
      font-size: 14px;
      line-height: 16.41px;
      color: #FFFFFF;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .main__new-product .new-product1 .product .novelty {
      font-size: 14px;
      line-height: 16px;
      background: #FFCD4E;
      color: #5C0791;
      border-radius: 10px;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .main__new-product .new-product1 .product .price {
      padding-bottom: 26px; }
    .main__new-product .new-product1 .product .price1 {
      text-decoration: line-through;
      font-size: 18px;
      line-height: 25px;
      color: #525252;
      padding: 10px 34px 20px 0px; }
    .main__new-product .new-product1 .product .price2 {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      padding: 10px 0px 0px 43px; }
    .main__new-product .new-product1 .product_btn {
      border: 2px solid #FFCD4E;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      background: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #525252;
      padding: 10px 0px 8px 0px;
      text-decoration: none;
      display: block;
      text-align: center; }

.main__new-product .product-box {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px; }
  .main__new-product .product-box .product {
    position: relative;
    padding: 15px;
    margin: 0 5px 15px 10px;
    width: 23%;
    min-width: 297px;
    border-radius: 16px;
    background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%); }
    .main__new-product .product-box .product:hover {
      -webkit-filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.12));
              filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.12));
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s; }
    .main__new-product .product-box .product .shares {
      padding: 10px 16px;
      border-radius: 10px;
      position: absolute;
      top: 8px;
      left: 8px;
      background: #FF3A3A;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 16px; }
    .main__new-product .product-box .product .product-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 34px;
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 18px; }
    .main__new-product .product-box .product .product-text {
      color: #858585;
      text-decoration: none; }
    .main__new-product .product-box .product .price-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 11px 0 20px 0; }
      .main__new-product .product-box .product .price-box .price {
        color: .main__new-product .product-box .product .price-box .price gray1;
        text-decoration: line-through; }
      .main__new-product .product-box .product .price-box .price-discount {
        color: .main__new-product .product-box .product .price-box .price-discount black;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin-right: 10px; }
    .main__new-product .product-box .product .add-cart {
      padding: 13px;
      border: 2px solid #FFCD4E;
      border-radius: 12px;
      background: .main__new-product .product-box .product .add-cart white;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #ADADAD; }
      .main__new-product .product-box .product .add-cart:hover {
        background: #FFCD4E;
        color: #000000;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      .main__new-product .product-box .product .add-cart:active {
        opacity: 0.7; }

.main__reviews h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ADADAD;
  margin: 50px 0px 30px 0px; }

.main__reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 378px;
  border: 1px solid #FFFFFF;
  background-color: #F4F4F4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 81.5px 0px 81.5px;
  border-radius: 16px;
  position: relative; }
  .main__reviews .review p {
    font-size: 18px;
    line-height: 140%;
    color: #858585;
    padding: 27px 98px 42px 45px; }
  .main__reviews .review .reviews1_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 220px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 12px; }
    .main__reviews .review .reviews1_left img {
      border-radius: 10.1279px;
      padding: 0px 0px 0px 20px; }
  .main__reviews .review .reviews1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 220px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main__reviews .review .reviews1 img {
      border-radius: 10.1279px;
      padding: 0px 0px 0px 20px; }
  .main__reviews .review .arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.5;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center; }
  .main__reviews .review .arrow_left {
    left: 22px;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg); }
    .main__reviews .review .arrow_left:hover {
      background-color: #FFFFFF;
      opacity: 1; }
  .main__reviews .review .arrow_right {
    right: 22px;
    -webkit-transform: translateY(-50%) rotate(270deg);
            transform: translateY(-50%) rotate(270deg); }
    .main__reviews .review .arrow_right:hover {
      background-color: #FFFFFF;
      opacity: 1; }

.main__maps {
  padding-top: 100px; }
  .main__maps .adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0px 26px 10.5px; }
    .main__maps .adres h3 {
      font-size: 22px;
      line-height: 25.78px;
      color: var(--grey1); }
    .main__maps .adres p {
      padding-top: 3px;
      font-size: 18px;
      line-height: 140%;
      color: var(--gray1);
      padding-left: 18px; }

@media (max-width: 991px) {
  .main .main__slide {
    padding: 25px 15px 65px; }
    .main .main__slide .slide-nav {
      left: 45%; }
      .main .main__slide .slide-nav .button {
        left: 15px; }
      .main .main__slide .slide-nav .button_act {
        right: 15px; }
  .main .main__reviews h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main .main__reviews .review {
    padding: 30px 15px 95px 15px;
    margin-bottom: 0; }
    .main .main__reviews .review .reviews1_left {
      font-size: 18px; }
      .main .main__reviews .review .reviews1_left img {
        display: block;
        margin-left: 70px;
        margin-right: auto;
        height: 160px;
        width: 160px; }
    .main .main__reviews .review .reviews1 {
      display: none; }
    .main .main__reviews .review .arrow_left {
      top: 40%;
      background-color: #F4F4F4; }
    .main .main__reviews .review .arrow_right {
      top: 40%;
      background-color: #F4F4F4;
      right: 32px; } }

@media (max-width: 767px) {
  .main .main__slide {
    padding: 25px 15px 65px;
    height: 504px; }
    .main .main__slide .slide1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .main__slide .slide1 .slide1-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin: 0 20px;
        padding: 0; }
        .main .main__slide .slide1 .slide1-info h1 {
          font-size: 32px;
          line-height: 37px;
          text-align: center;
          margin-left: 15px; }
        .main .main__slide .slide1 .slide1-info p {
          text-align: center;
          padding-top: 22px;
          margin-left: 12px; }
        .main .main__slide .slide1 .slide1-info a {
          margin: 0px 30px 5px 160px; }
      .main .main__slide .slide1 .clock-foto {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        margin-bottom: 10px;
        padding: 0px 200px 10px 0px; }
        .main .main__slide .slide1 .clock-foto img {
          height: 213px;
          width: 173px; }
  .main .main__stock h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main .main__stock .stock1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center; }
  .main .main__stock .product {
    margin-bottom: 15px;
    width: 50%; }
  .main .main__new-product h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main .main__new-product .new-product1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center; }
  .main .main__new-product .product {
    margin-bottom: 15px;
    width: 50%; }
  .main .main__reviews {
    padding: 30px 15px 95px 15px;
    margin-bottom: 0; }
    .main .main__reviews h2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .main .main__reviews .review .arrow_left {
      top: 335px; }
    .main .main__reviews .review .arrow_right {
      top: 335px; }
    .main .main__reviews .review .reviews1_left {
      padding: 16px;
      margin: 0;
      font-size: 18px; }
      .main .main__reviews .review .reviews1_left img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 100px;
        margin-bottom: 70px; }
      .main .main__reviews .review .reviews1_left p {
        padding: 54px 49px 42px 45px; } }

.footer {
  border-top: 1px solid #F4F4F4; }
  .footer p {
    display: block;
    padding: 1px 1px 1px 1px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #ADADAD; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__info .footer-box-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__info .footer-box-left .logo {
        padding: 30px 30px 30px 0px; }
      .footer__info .footer-box-left .about-us {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        padding: 0px 0px 0px 32px; }
        .footer__info .footer-box-left .about-us li {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          list-style: none;
          padding-left: 30px;
          padding-right: 5px; }
        .footer__info .footer-box-left .about-us a {
          color: #525252;
          text-decoration: none; }
          .footer__info .footer-box-left .about-us a:hover {
            color: #5C0790; }
          .footer__info .footer-box-left .about-us a:active {
            opacity: 0.5; }
    .footer__info .sotsseti {
      margin-left: auto;
      padding-bottom: 12px; }
      .footer__info .sotsseti a {
        text-decoration: none;
        padding-left: 29px; }
      .footer__info .sotsseti .icon:hover .ico-fb {
        fill: #1877F2; }
      .footer__info .sotsseti .icon:hover .ico-tg {
        fill: #37AEE2; }
      .footer__info .sotsseti .icon:hover .ico-insta {
        fill: #FF0100; }

@media (max-width: 767px) {
  .footer {
    margin: 0 15px; }
    .footer .footer__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__info .footer-box-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .footer__info .footer-box-left .logo {
          margin: 50px 0 70px 0;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          padding: 0; }
        .footer .footer__info .footer-box-left .about-us {
          margin-top: 50px;
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0;
          padding: 0; }
      .footer .footer__info .sotsseti {
        margin: 0; } }

.main_title_catalog .main_title h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ADADAD;
  padding-bottom: 13px;
  padding-top: 35px; }

.main_title_catalog .btn__mob {
  display: none; }

.main_title_catalog .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px; }
  .main_title_catalog .catalog .catalog_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 26.5px;
    width: 45%; }
    .main_title_catalog .catalog .catalog_filter h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #525252;
      padding-bottom: 42px;
      padding-top: 25px; }
    .main_title_catalog .catalog .catalog_filter .filter {
      border: 0.25px solid #F4F4F4;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 8px;
      background: #FFFFFF;
      position: relative;
      height: 275px; }
      .main_title_catalog .catalog .catalog_filter .filter hr {
        background: #F4F4F4;
        border-radius: 15px;
        height: 4px;
        margin-top: 10px;
        border: none; }
      .main_title_catalog .catalog .catalog_filter .filter .filter_nav {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0px;
        left: -10px; }
        .main_title_catalog .catalog .catalog_filter .filter .filter_nav li {
          padding: 0px 138px 0px 10px; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_left {
            width: 24px;
            height: 24px;
            background: #858585;
            border-radius: 50%;
            position: absolute;
            top: 0;
            border: none; }
            .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_left:hover {
              background: #525252; }
            .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_left:active {
              background: #C9C9C9; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_right {
            width: 24px;
            height: 24px;
            background: #858585;
            border-radius: 50%;
            position: absolute;
            top: 0;
            border: none; }
            .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_right:hover {
              background: #525252; }
            .main_title_catalog .catalog .catalog_filter .filter .filter_nav li .btn_right:active {
              background: #C9C9C9; }
      .main_title_catalog .catalog .catalog_filter .filter .filter_prays {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding-top: 26px;
        padding-bottom: 20px; }
        .main_title_catalog .catalog .catalog_filter .filter .filter_prays .new_prays {
          background: #F4F4F4;
          border-radius: 12px;
          padding: 16px 10px 16px 16px;
          border: 2px solid transparent; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_prays .new_prays input {
            border: none;
            color: gray2;
            font-size: 16px;
            line-height: 19px;
            background: #F4F4F4;
            width: 78px;
            height: 45px; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_prays .new_prays:hover {
            border: 2px solid rgba(0, 0, 0, 0.2); }
        .main_title_catalog .catalog .catalog_filter .filter .filter_prays .old_prays {
          background: #F4F4F4;
          border-radius: 12px;
          padding: 16px 10px 16px 16px;
          border: 2px solid transparent;
          margin-right: 76px; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_prays .old_prays input {
            border: none;
            color: gray2;
            font-size: 16px;
            line-height: 19px;
            background: #F4F4F4;
            width: 78px;
            height: 45px; }
          .main_title_catalog .catalog .catalog_filter .filter .filter_prays .old_prays:hover {
            border: 2px solid rgba(0, 0, 0, 0.2); }
      .main_title_catalog .catalog .catalog_filter .filter .label .input_filter {
        position: relative;
        font-size: 16px;
        line-height: 19px;
        padding-left: 42px;
        height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #858585;
        cursor: pointer; }
        .main_title_catalog .catalog .catalog_filter .filter .label .input_filter::after {
          content: '';
          border: 2px solid #525252;
          width: 32px;
          height: 32px;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 8px; }
        .main_title_catalog .catalog .catalog_filter .filter .label .input_filter::before {
          background: url(../img/check.svg);
          background-repeat: no-repeat;
          background-position: center;
          display: none;
          content: '';
          position: absolute; }
        .main_title_catalog .catalog .catalog_filter .filter .label .input_filter .input-radio:checked + .input_filter::before {
          display: block; }
      .main_title_catalog .catalog .catalog_filter .filter .btn_apply {
        margin-top: 24px;
        background: #FFCD4E;
        border-radius: 8px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 9px 19px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border: none; }
  .main_title_catalog .catalog .catalog_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main_title_catalog .catalog .catalog_product .product_catalog {
      padding: 15px 15px 20px 15px;
      background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
      border-radius: 16px;
      width: 297px;
      position: relative;
      margin-bottom: 20px; }
      .main_title_catalog .catalog .catalog_product .product_catalog:hover {
        -webkit-box-shadow: 0px 8px 26px #E5E5E5;
                box-shadow: 0px 8px 26px #E5E5E5; }
      .main_title_catalog .catalog .catalog_product .product_catalog a:hover {
        background-color: #FFCD4E;
        color: #000000; }
      .main_title_catalog .catalog .catalog_product .product_catalog .product_link {
        text-decoration: none;
        border: none; }
        .main_title_catalog .catalog .catalog_product .product_catalog .product_link .product-photo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 268px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          background-color: #FFFFFF;
          border-radius: 8px;
          padding-top: 33px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .discount {
        background: #FF3A3A;
        border-radius: 10px;
        font-size: 14px;
        line-height: 16.41px;
        color: #FFFFFF;
        padding: 10px 16px 10px 16px;
        position: absolute;
        top: 8px;
        left: 8px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .novelty {
        font-size: 14px;
        line-height: 16px;
        background: #FFCD4E;
        color: #5C0791;
        border-radius: 10px;
        padding: 10px 16px 10px 16px;
        position: absolute;
        top: 8px;
        left: 8px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .price {
        padding-bottom: 26px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .price1 {
        text-decoration: line-through;
        font-size: 18px;
        line-height: 25px;
        color: #525252;
        padding: 10px 34px 20px 0px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .price2 {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        padding: 10px 0px 0px 26px; }
      .main_title_catalog .catalog .catalog_product .product_catalog .product_btn {
        border: 2px solid #FFCD4E;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 12px;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #525252;
        padding: 10px 0px 8px 0px;
        text-decoration: none;
        display: block;
        text-align: center; }

@media (max-width: 767px) {
  .main_title_catalog .main_title_catalog .btn__mob {
    display: block; }
  .main_title_catalog .main_title_catalog .catalog .catalog_filter .filter {
    display: none; } }

.nav-menubar .menubar_catalog {
  padding: 1px 1px 1px 1px; }
  .nav-menubar .menubar_catalog .catalog_menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-menubar .menubar_catalog .catalog_menu > li > a::after {
      content: '';
      background-image: url("../img/nav-arrow.svg");
      width: 13px;
      height: 7px;
      position: absolute;
      right: 5px;
      top: 5px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .nav-menubar .menubar_catalog .catalog_menu > li > a {
      font-size: 16px;
      line-height: 19px;
      color: #ADADAD;
      text-decoration: none;
      padding: 0px 37px 10px 0;
      position: relative; }

@media (max-width: 767px) {
  .nav-menubar .catalog_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.catalog_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .catalog_product .product_catalog {
    padding: 15px 15px 20px 15px;
    background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
    border-radius: 16px;
    width: 297px;
    position: relative;
    margin-bottom: 20px; }
    .catalog_product .product_catalog:hover {
      -webkit-box-shadow: 0px 8px 26px #E5E5E5;
              box-shadow: 0px 8px 26px #E5E5E5; }
    .catalog_product .product_catalog a:hover {
      background-color: #FFCD4E;
      color: #000000; }
    .catalog_product .product_catalog p {
      font-size: 16px;
      line-height: 19px;
      color: #525252;
      padding: 17.24px 0px 10px 0px; }
    .catalog_product .product_catalog .product_link {
      text-decoration: none;
      border: none; }
      .catalog_product .product_catalog .product_link .product-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 268px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding-top: 33px; }
    .catalog_product .product_catalog .discount {
      background: #FF3A3A;
      border-radius: 10px;
      font-size: 14px;
      line-height: 16.41px;
      color: #FFFFFF;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .catalog_product .product_catalog .novelty {
      font-size: 14px;
      line-height: 16px;
      background: #FFCD4E;
      color: #5C0791;
      border-radius: 10px;
      padding: 10px 16px 10px 16px;
      position: absolute;
      top: 8px;
      left: 8px; }
    .catalog_product .product_catalog .price {
      padding-bottom: 26px; }
    .catalog_product .product_catalog .price1 {
      text-decoration: line-through;
      font-size: 18px;
      line-height: 25px;
      color: #525252;
      padding: 10px 34px 20px 0px; }
    .catalog_product .product_catalog .price2 {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      padding: 10px 0px 0px 26px; }
    .catalog_product .product_catalog .product_btn {
      border: 2px solid #FFCD4E;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 12px;
      background: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #525252;
      padding: 10px 0px 8px 0px;
      text-decoration: none;
      display: block;
      text-align: center; }

.padginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0 100px 300px; }
  .padginator a {
    text-decoration: none;
    color: #858585; }
  .padginator_left {
    border: none;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 12px; }
  .padginator_rayt {
    border: none;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    margin-left: 12px; }
  .padginator .padginator_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0; }
    .padginator .padginator_menu .pagination {
      cursor: pointer;
      padding: 5px;
      margin: 0 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #FFFFFF;
      border: 1px solid #C9C9C9;
      color: #ADADAD;
      border-radius: 4px;
      height: 32px;
      width: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px; }
    .padginator .padginator_menu .pagination-active {
      border: 1px solid #5C0790; }

.main_pay .line_pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 15px; }
  .main_pay .line_pay .in_catalog {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #525252;
    text-decoration: none;
    display: block;
    padding-bottom: 32.5px;
    padding-left: 14px; }

.main_pay .wrapper-pay .info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main_pay .wrapper-pay .info-form .total-pay h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #525252;
    padding-bottom: 16px;
    padding-top: 5px; }
  .main_pay .wrapper-pay .info-form .total-pay h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #525252;
    padding-bottom: 33px; }
  .main_pay .wrapper-pay .info-form .total-pay p {
    padding-bottom: 6px; }
  .main_pay .wrapper-pay .info-form .total-pay .way-pay .label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .main_pay .wrapper-pay .info-form .total-pay .way-pay .label .input-text {
      position: relative;
      font-size: 16px;
      line-height: 19px;
      padding-left: 42px;
      height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #858585;
      cursor: pointer; }
      .main_pay .wrapper-pay .info-form .total-pay .way-pay .label .input-text:hover::after {
        background-color: #F4F4F4; }
      .main_pay .wrapper-pay .info-form .total-pay .way-pay .label .input-text::after {
        content: '';
        border: 2px solid #525252;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%; }
      .main_pay .wrapper-pay .info-form .total-pay .way-pay .label .input-text::before {
        display: none;
        content: '';
        position: absolute;
        background-color: #5C0790;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 9px;
        top: 9px;
        border-radius: 50%; }
    .main_pay .wrapper-pay .info-form .total-pay .way-pay .label .input-radio:checked + .input-text::before {
      display: block; }
  .main_pay .wrapper-pay .info-form .total-pay .way-method {
    padding-bottom: 7px; }
    .main_pay .wrapper-pay .info-form .total-pay .way-method .label {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      .main_pay .wrapper-pay .info-form .total-pay .way-method .label .input-text {
        position: relative;
        font-size: 16px;
        line-height: 19px;
        padding-left: 42px;
        height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #858585;
        cursor: pointer; }
        .main_pay .wrapper-pay .info-form .total-pay .way-method .label .input-text:hover::after {
          background-color: #F4F4F4; }
        .main_pay .wrapper-pay .info-form .total-pay .way-method .label .input-text::after {
          content: '';
          border: 2px solid #525252;
          width: 32px;
          height: 32px;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%; }
        .main_pay .wrapper-pay .info-form .total-pay .way-method .label .input-text::before {
          display: none;
          content: '';
          position: absolute;
          background-color: #5C0790;
          width: 14px;
          height: 14px;
          position: absolute;
          left: 9px;
          top: 9px;
          border-radius: 50%; }
      .main_pay .wrapper-pay .info-form .total-pay .way-method .label .input-radio:checked + .input-text::before {
        display: block; }

@media (max-width: 767px) {
  .main_pay .wrapper-pay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main_pay .wrapper-pay .info-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.general-delivery {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252; }
  .general-delivery .info-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .general-delivery .info-delivery h3 {
      padding: 6px 0px 17px 14px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #525252; }
    .general-delivery .info-delivery input {
      background: #F4F4F4;
      border-radius: 12px;
      padding: 15px 133px 16px 16px;
      border: 2px solid transparent;
      font-size: 16px;
      line-height: 19px;
      color: #ADADAD; }
      .general-delivery .info-delivery input:hover {
        border: 2px solid rgba(0, 0, 0, 0.2); }
      .general-delivery .info-delivery input:focus {
        background: #FFFFFF; }
    .general-delivery .info-delivery .contact-details p {
      padding: 2px 5px 5px 0px; }
  .general-delivery .delivery-address p {
    padding: 2px 0px 5px 0px; }
  .general-delivery .coment {
    padding-top: 34px; }
    .general-delivery .coment .textarea {
      width: 100%;
      background: #F4F4F4;
      border-radius: 12px;
      height: 117px;
      padding: 12px 0px 0px 41px;
      border: none;
      font-size: 16px;
      line-height: 19px;
      color: #ADADAD;
      border: 2px solid transparent; }
      .general-delivery .coment .textarea:hover {
        border: 2px solid rgba(0, 0, 0, 0.2); }
      .general-delivery .coment .textarea:focus {
        background: #FFFFFF; }
  .general-delivery .button-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 21px;
    padding-bottom: 71px; }
    .general-delivery .button-pay .btn-red {
      background: #FF3A3A;
      -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      border: 0;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 16px 24px 16px 25px;
      cursor: pointer; }
      .general-delivery .button-pay .btn-red:hover {
        opacity: 0.7; }
      .general-delivery .button-pay .btn-red:active {
        opacity: 0.3; }
  @media (max-width: 767px) {
    .general-delivery .info-delivery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .general-delivery .info-delivery input {
        width: 100%; }
    .general-delivery .btn-red {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
