.nav-menubar {
    .menubar_catalog {
        padding: 1px 1px 1px 1px;
        .catalog_menu {
            list-style: none;
            display: flex;
            &> li > a::after {
                content: '';
                background-image: url('../img/nav-arrow.svg');
                width: 13px;
                height: 7px;
                position: absolute;
                right: 5px;
                top: 5px;
                transform: rotate(270deg);
            }
            & > li > a{
                font-size: 16px;
                line-height: 19px;
                color: $gray3;
                text-decoration: none;
                padding: 0px 37px 10px 0;
                position: relative;
            }
        } 
    }
    @media (max-width: 767px) {
        .catalog_menu {
            display: flex;
            flex-wrap: wrap;
        }
    }
}